
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", 
}

body {
    background-color: #00b87a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    font-style: italic;
    width: 18%;
    text-align: center;
    margin-top: 100px;
}

h1 {
    margin: 20px 0;
}

#container {
    background-color: #f0f8ff;
    width: 900px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0);
    height: 390px;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    display: none;
}

.tab-buttons {
    display: none;
    gap: 6px;
}

.tab-buttons.visible {
    display: flex;
}

.tab-btn {
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: rgb(242, 220, 177, 0.9);
}

.tab-btn:hover {
    background-color: #2da87f;
}

.content {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    display: flex; /* Layout flexível para imagem e texto lado a lado */
    gap: 14px; /* Espaço entre a imagem e o conteúdo textual */
    background-color: #2da87f;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
    margin-top: 0px;
    align-items: flex-start; /* Alinha verticalmente o texto ao topo */
}

.content.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.content-img {
    width: 50%;
    height: 250px;
    margin-bottom: 20px; /* Adiciona espaço abaixo da imagem */
}

.content-text { /* Contêiner para o título e a descrição */
    display: flex;
    flex-direction: column; /* Mantém o título e a descrição em coluna */
    justify-content: flex-start; /* Alinha o título e a descrição ao topo */
    flex: 1; /* Permite que o texto ocupe o espaço restante */
    margin-top: -20px; /* Eleva o content-text */
}

.content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Espaço entre o título e a descrição */
    text-decoration:underline 2px;
    text-decoration-color: #dc8920
}

.description {
    
    font-size: 16px;
    color: 	#f2dcb1;
}

.p-btn {
    font-size: 20px;
    margin-top: 0px;
    cursor: pointer;
    background-color: #00b87a;
    border-radius: 30px;
    transition: opacity 1s ease;
}



.p-btn:hover {
    background-color:rgb(242, 220, 177, 10);
    transition: background-color .9s ease;
}

.p-btn.active {
    background-color: rgb(242, 220, 177, 10);
}


a {
    color: inherit;
    text-decoration: none;
    transition: background-color .9s ease;
}

a:hover {
    color:#6C63FF ;
    background-color: #f2dcb1;
}
